<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  <title>Office Vis</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Office Vis
      </h1>
      <p class="subtitle">
        Visualising spatial and temporal office layout networks.
      </p>
      <div>
          Employees
          <input id="num" class="input" type="number" value="5" placeholder="3">
        <div class="select">
          <select id="n">
            <option value=5>1 Week </option>
            <option value=10>2 Weeks </option>
            <option value=20>1 month </option>
          </select>
        </div>
        <div class="select">
          <select id="scenarios">
            <option value="AS-WAS">AS-WAS (Centralised)</option>
            <option value="Hybrid">Hybrid</option>
            <option value="Hub">Hub</option>
          </select>
        </div>
        <!-- <button class="button" id="state" onclick="apart()">Work</button> -->
        <button class="button" id="state" onclick="simulate()">Simulate</button>
        <button class="button" id="state" onclick="stop()">Stop</button>
        <button class="button" id="state" onclick="reset()">Reset</button><br />
        <label class="checkbox">
          <input type="checkbox" id="toggleColor">Toggle Colors (Blue = Unique Connections, Red = Total interactions)
        </label>
      </div>
    </div>
    <div class="container">
      <div id="app">
        <br />
        <!-- <button class="button" id="state" onclick="toggleColor()">Show connections</button> -->
        <div class="has-text-weight-bold">
          <p>
              Day: <span id="counter">0</span><br />
              Unique Connections:<span id="conns">0</span><br />
              Total Interactions:<span id="ints">0</span><br />
          </p>
          <br />

        </div>
        <p>

        </p>

        <svg id="canvas">
          <!-- <circle r="5" fill="red"></circle> -->
          <!-- <person v-for="person in persons" v-bind:person="person" v-bind:key="person.id"></person> -->
        </svg>


        <!-- <svg id="canvas">
          <circl
          v-for="person in persons"
          v-bind:person="person"
          v-bind:key="person.id"
          ></circle>

        </svg> -->

      </div>
    </div>
  </section>
  <script src="index.js"></script>
</body>
</html>
