#canvas, #canvas2{
  width:100vw;
  height:100vw;
  max-height: 600px;
}
#num{
  width: auto;
  max-width: 100px;
  display: inline-block;
}

.background {
  fill: #fff;
  stroke:#eee;
}

line {
  stroke: #eee;
}
.locLinks {
  stroke: #bdbdbd;
  opacity: 0.5;
  stroke-width: 4px;
}

.nodeLinks {
  stroke: black;
  opacity: 0.75;
}

text.active {
  fill: red;
}

.select {
  display: inline-block;
}
