#canvas, #canvas2{
  width:100vw;
  height:100vw;
  max-height: 600px;
}
#num{
  width: auto;
  max-width: 100px;
  display: inline-block;
}

.background {
  fill: #fff;
  stroke:#eee;
}

line {
  stroke: #eee;
}

text.active {
  fill: red;
}
